* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    width: 600px;
    margin: 30px auto;
}

.riga {
    display: flex;
}

.cella {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.green {
    background-color: #44b106;
    width: 100px;
    height: 100px;
}

.yellow {
    background-color: rgb(216, 238, 22);
    width: 100px;
    height: 100px;
}

.number {
    display: none;
}

.open {
    display: block;
}