* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    border: 1px solid black;
    width: 600px;
    margin: 30px auto;
}

.riga {
    display: flex;
}

.cella {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
}

.green {
    background-color: #44b106;
}

.yellow {
    background-color: rgb(216, 238, 22);
}



